<div class="">
    <video muted="muted" autoplay loop="loop" preload="auto" class="w-full rounded-b-xl">
        <source src="{{ section.settings.video_banner_url }}" type="video/mp4"></source> 
    </video>
    <div class='mt-12 flex flex-col justify-center'>
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'r-theme-heading'%}
                    <h1 class="text-center text-5xl leading-normal font-bold w-9/12 mx-auto">{{ block.settings.h1_video_text }}</h1>
                {% when 'r-theme-subheading'%}
                    <h2 class='text-center text-2xl font-medium m-auto text-stone-600 w-11/12 mt-6'>{{ block.settings.h1_video_subtext }}</h2>
                {% when 'r-theme-button-video' %}
                    <button class="rounded-[50px] bg-black text-white font-semibold w-[85%] py-5 mt-9 mx-auto">{{ block.settings.button_text_url_video_banner }}</button>
            {% endcase %}
        {% endfor %}
        </div>
</div>

{% schema %}
{
    "name":"R-Theme Video banner",
    "tag":"section",
    "settings":[
       {
          "type":"url",
          "id":"video_banner_url",
          "label":"Url of your video"
       }
    ],
    "blocks":[
       {
          "type":"r-theme-heading",
          "name":"R-Theme heading text",
          "limit":1,
          "settings":[
             {
                "type":"text",
                "id":"h1_video_text",
                "label":"Your h1 text",
                "default":"Video banner"
             }
          ]
       },
       {
          "type":"r-theme-subheading",
          "name":"R-Theme Sub-heading text",
          "limit":1,
          "settings":[
             {
                "type":"text",
                "id":"h1_video_subtext",
                "label":"Your h2 text",
                "default":"Video banner subtext"
             }
          ]
       },
       {
          "type":"r-theme-button-video",
          "name":"R-Theme button video",
          "limit":1,
          "settings":[
             {
                "type":"url",
                "id":"url_button_video_banner",
                "label":"Your url button"
             },
             {
                "type":"text",
                "id":"button_text_url_video_banner",
                "label":"Your text button"
             }
          ]
       }
    ], 
    "presets": [
        {
            "name": "Video banner Rayanos"
        }
    ]
 }
{% endschema %}